Important: This file/data is only for illustration purposes to show how the actual config.json is structured!

{
    "appId": "787789079227006976",
    "token": "ODNzMzg3MzUxGrYyNjMzNzM5.YHxmdA.KoU5YyuK_83Ne0z0MUEt9DUXszq",
    "delay": 90000,
    "sql": {
        "host": "localhost",
        "port": 3306,
        "database": "clearchat",
        "user": "root",
        "password": "password"
    },
    "adminCommand": {
        "commandId": "322605069189280782",
        "ownerId": "314090743830675466",
        "roleId": "874958554585509948",
        "serverId": "789235487676170261"
    },
    "topgg": {
        "enabled": true,
        "token": "qusjVXgHj6zrE6SYQ7uhb8amYfQ2LFJKwmrD.xQ5RDWuHgqcsK4QNv5aG8e2AHE9rLHcX3zEPgVwbwLw4ApezYxLSvJV5WVD2Tc5MpU4ve66wNV.6837Tc8FyLEHD8Y53CfvdVuAtuJxwCrZj6_GHjCrh79",
        "webhook": "M86c2qdQCLHnVnRgT72gXJCAA4AtJmg9fUMCD3myn8g7VhxPKS2FDqfTGuvHyec36mgTqL2a4uHwRFYGTr3BNRKmgEMVEndFtqRqyVvExs9jAMB5hvurwZX65nJCeXbP"
    }
}