<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/tw.css">
</head>
<body class="bg-neutral-200 dark:bg-zinc-900 dark:text-white" style="font-family: 'Noto Sans', sans-serif;">
    <nav class="w-full p-2 bg-[#00e4ce] text-xl flex items-center gap-4 text-white shadow">
        <a href="/" class="font-bold">CCDash</a>
    </nav>
    <div class="container mx-auto p-2">
        <div class="w-full p-6 bg-white dark:bg-zinc-800 rounded shadow mb-6">
            <h1 class="text-2xl sm:text-5xl md:text-8xl font-black text-center">404 - Server not found</h1>
        </div>
    </div>
</body>
</html>